
{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
    <div class="contianer">
        <div class="flex">
            <div class="obr">
                <div class="main-author">
                    <p> <a class="auth-link" href="{% url 'user' pk=post.pk %}">{{post.author}}</a></p>
                </div>
               <!-- <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2> -->
                <div class="articule-text" >
                    <p>{{post.text}}</p>
                </div>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="obrazek" style="max-width: 100%;">
                {% endif %}
            


            </div>
        
        </div>



    </div>
    {% endfor %}
{% endblock %}
