.contianer {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 1580px;
    height: auto;

}


a {
    text-decoration: none;

}


.grid{
    display: grid;
}



.btn {
    width: auto;
    height: auto;
    
    background-color: red;
    transition: all 0.5s ease-in;
    
}

.btn:hover{
    background-color: cyan;
}